<div class="container mt-4">

  <%= link_to sanitize("&larr; Volver a zona"), zone_path(@zone) %>

  <div class="header">
    <h1>Editar finca</h1>
  </div>

  <%= turbo_frame_tag "remote_modal" do %>
    <%= render "layouts/modal_content", title: "Editar finca" do %>
      <%= render "form", zone: @zone, farm: @farm %>
    <% end %>
  <% end %>

</div>
