<div class="container mt-4">

  <%= link_to sanitize("&larr; Volver a zonas"), zones_path %>

  <div class="header">
    <h1>Editar zona</h1>
  </div>

  <%= turbo_frame_tag dom_id(@zone, :edit) do %>
    <%= render "form", zone: @zone %>
  <% end %>

</div>
