<div class="container mt-4">

  <%= link_to sanitize("&larr; Volver a zonas"), zones_path %>

  <div class="header">
    <h1>Nueva zona</h1>
  </div>

  <%= turbo_frame_tag @zone do %>
    <%= render "form", zone: @zone %>
  <% end %>

</div>
